<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"> </ion-back-button>
    </ion-buttons>

    <ion-title>añadir un nuevo lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-content>
        <ion-input type="text" placeholder="escribir nombre" #title></ion-input>
          <ion-input type="text" placeholder="http://imagewebsite.com" #imageURL></ion-input>
          <ion-button color="primary" (click)="saveNewPlace(title, imageURL)">Guardar

          </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
